/* Media Queries */

/* ---------- For screens up to 1400px ---------- */
@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-containers {
        flex-wrap: wrap;
    }
}

/* ---------- For screens up to 1200px ---------- */
@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none; /* Hide the desktop nav on smaller screens */
    }

    #hamburger-nav {
        display: flex; /* Show the hamburger nav on smaller screens */
        align-items: center;
        align-items: center;
        padding: 10px 20px;
    }

    .logo-mobile {
        display: block;
        color: white; /* Set the color if needed */
        font-size: 2rem; /* Adjust size if needed */
    }

    .hamburger-icon {
        display: flex;
        color: white;
    }

    .menu-links {
        display: none; /* Initially hidden */
        position: absolute; /* Changed from 'center' to 'absolute' */
        top: 100%;
        left: 0;
        right: 0;
        background-color: white;
        width: 100%; /* Full width */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* For better visibility */
        z-index: 10; /* Ensure it's above other content */
    }

    .menu-links.open {
        display: block; /* Show the menu when 'open' class is added */
    }

    .menu-links a {
        padding: 10px 15px; /* Adjust padding */
        font-size: 1rem; /* Adjust font size for readability */
        background-color: black; /* A semi-transparent white background */
    }

    .arrow {
        display: none;
    }

    section,
    .section-container {
        height: fit-content;
    }

    .section_pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers {
        margin-top: 0;
    }
}

/* ---------- For screens up to 768px (Mobile layout adjustments) ---------- */
@media screen and (max-width: 768px) {
    #profile {
        flex-direction: column; /* Stack the containers vertically */
        justify-content: center; /* Center the entire section */
        align-items: center; /* Center the items horizontally */
        gap: 2rem; /* Add more space between the sections */
    }

    .section_pic-container img {
        width: 70vw; /* Reduce the image size for mobile */
        border-right: none; /* Remove the right border for mobile */
        margin: 0 auto; /* Center the image */
    }

    .right-image-container {
        width: 100%; /* Take full width of the screen */
        align-items: center; /* Center the logo and button */
    }

    .right-image-container img {
        width: 50vw; /* Make the logo larger for mobile */
    }

    .right-image-container button {
        width: auto; /* Let the button size adjust according to the content */
        padding: 10px 30px; /* Add more padding for a larger button */
    }
}

/* ---------- For screens up to 600px ---------- */
@media screen and (max-width: 600px) {
    #contact,
    footer {
        height: auto; /* Adjust height */
    }

    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    article {
        font-size: 1rem; /* Adjust font size */
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p,
    .nav-links li a {
        font-size: 1.25rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem; /* Adjust logo size */
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section_pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section_text_p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .custom-header {
        margin: 30px 30px;
        width: auto;
        text-align: justify;
        font-size: 1rem;
    }

    .team-member {
        width: 80%; /* Center the team members */
        margin: 10px auto;
    }

    .team-member img {
        height: auto;
    }
}

/* ---------- For larger screens (min-width: 1200px) ---------- */
@media (min-width: 1200px) {
    #hamburger-nav {
        display: none; /* Hide the hamburger nav on larger screens */
    }

    #desktop-nav {
        display: flex; /* Display the desktop navigation */
        border-bottom: solid white; /* Set border at the bottom */
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* ---------- For larger screens, making sections side by side ---------- */
@media (min-width: 768px) {
    .improvements-container section {
        width: 22%; /* Adjusts width for a multi-column layout */
    }
}