/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
   margin: 0;
   padding: 0; 
}

  
body {
    font-family: "Poppins", sans-serif;
    position: relative;
}

body * {
    position: relative;
    z-index: 1;
  }

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/*TRANSITION*/

a, 
.btn{
    transition: all 300 ms ease;
}

/* DESKTOP NAV */
.logo-mobile {
    color: black;
}

.logo {
    color: yellow; /* Set the text color of the logo to yellow */
  }
  
#desktop-nav {
    background-color: black; /* Set the background color to black */
    border-bottom: 2px solid yellow; /* Add a yellow border at the bottom */
  }
  
  #desktop-nav .nav-links a {
    color: yellow; /* Set the text color to yellow */
  }
  

nav, 
.nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: default;
}

/*HAMBURGER MENU*/

#hamburger-nav{
    display: none;
}

.hamburger.menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    display: none; /* Initially hidden */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    color: #000; /* Text color */
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
    z-index: 1000; /* High z-index to ensure it's on top */

}
.menu-links a {
    display: block;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}
.menu-links.open {
    display: block; /* Show the menu */
    max-height: none; /* Remove max-height or set a high value */
}


.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

hamburger-icon span:first-child {
    transform: none;
}

hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child{
    transform: none;
}

/* SECTIONS */

section{
    padding-top: 4vh;
    box-sizing: border-box;
    min-height: fit-content;
    
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */

#profile {
    gap: 1rem;
    height: 100%;
    padding-top: 0;
    background-color: black;
    border-bottom: solid yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_pic-container {
    display: flex;
    width: 100%;
}


.section_pic-container img:first-child {
    width: 85%;
    float: left;
    border-right: solid yellow;

}

.right-image-container {
    display: flex;
    flex-direction: column; /* Ensure items are stacked vertically */
    align-items: center; /* Center the image and button horizontally */
    text-align: center; /* Align the text in the button */
}

.right-image-container img {
    padding: 2rem;
    width: 15%;
    display: block;
    margin-bottom: 10px; /* Adds space between image and button */
}

.right-image-container button {
    padding: 10px 20px;
    background-color: yellow; /* Customize the button color */
    color: black; /* Customize the button text color */
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.right-image-container button:hover {
    background-color: orange; /* Button hover effect */
}

.section_text{
    align-self: center;
    text-align: center;
}

.section_text p{
    font-weight: 600;
}

.section_text_p1 {
    text-align: center;
}

.section_text_p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    font-weight: 600;
    transition:all 3000ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, 
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover{
    cursor: pointer;
}

.btn-color-1, 
.btn-color-2:hover {
    border: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover{
    background: rgb(0, 0, 0);
}

.btn-color-2{
    background: none;
}

.btn-color-2 :hover{
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container{
    gap: 1rem;
}

.btn-color-2 {
    background: none;
    color: white; /* Set initial text color to white */
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-2:hover {
    color: blue; /* Change text color to blue on hover */
    background: none; /* Keep background the same or change as needed */
    border: rgb(255, 255, 255) 0.1rem solid; /* Optional: change border color on hover */
}

/*ABOUT SECTION */

#about {
    position: relative;
    margin: 0 10rem;

}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers, 
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rerm;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container{
    gap: 4rem;
    height: 80%;
}




/* TEAM SECTION */

body {
    font-family: 'Arial', sans-serif;
    margin: 0 ;
    padding: 0;
    background-color: #f4f4f4;
    border: 1px solid #ccc;

}

#team {
    padding: 10px 10px;
    background-color: transparent;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-member {
    position: relative;
    width: 300px; /* Reduced from 400px to 300px */
    margin: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 34px 38px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Rounded corners for the card */
    overflow: hidden; /* Ensures the image fits in the card */
}

.team-member img {
    width: 100%;
    display: block;
    object-fit: cover; /* Ensures image covers the card */
    height: 375px; /* Adjusted proportionally to the new width */
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    color: #fff;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    padding: 20px;
    text-align: center;
}

.team-member:hover .overlay {
    opacity: 1;
}

.name {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}



.buttons {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the buttons horizontally */
}

.learn-more-btn {
    border: none;
    cursor: pointer;
    padding: 5px 20px; /* Adjust padding to control button width */
    margin: 5px 0;
    border-radius: 10px; /* Rounded corners for the buttons */
    transition: background 0.3s, color 0.3s;
    width: 80%; /* Control the width of the button */
    max-width: 200px; /* Prevent the button from being too wide */
}

.white-btn {
    background: #fff;
    color: #000;
}

.transparent-btn {
    background: transparent;
    color: #fff;
    border: 1px solid #fff; /* Adds border to the transparent button */
}
.team-member .member-name {
    position: absolute;
    top: 0; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    color: white; /* Choose a text color that is visible on your image */
    background-color: transparent; /* Semi-transparent background for the text */
    padding: 5px 10px; /* Padding around the text */
    border-radius: 0 0 5px 0; /* Rounded bottom-right corner */
    font-size: 25px; /* Adjust font-size as needed */
    max-width: 90%; /* Ensures the name does not extend outside the image */
    box-sizing: border-box;
    z-index: 2; /* Above the image but below the overlay */
    font-family: 'Montserrat', sans-serif; /* This line sets the new font */
    font-weight: 700; /* Example for bold text */

}

.team-member:hover .overlay {
    opacity: 1;
    z-index: 2;
}

@media (max-width: 600px) {
    .team-member {
        width: 80%; /* Adjust for smaller screens */
        margin: 10px auto; /* Center and reduce margin on smaller screens */
    }

    .team-member img {
        height: auto; /* Adjust height automatically for smaller screens */
    }
}



/* DELIVERABLES SECTION */
#deliverables {
    padding: 50px 20px;
    text-align: center;
    background-color: transparent;
}

.section-header h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.section-header p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.documents-container,
.video-gallery {
    margin-bottom: 3rem;
}

.document-list {
    list-style: none;
    padding: 0;
}

.document-list li {
    margin-bottom: 0.5rem;
}

.document-list a {
    font-size: 1.2rem;
    color: #0275d8;
    text-decoration: none;
    transition: color 0.3s ease;
}

.document-list a:hover {
    color: #0256b3;
}

.video-gallery video {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
    outline: none; /* Removes the blue outline in some browsers */
}

.video-gallery video::-webkit-media-controls {
    border-radius: 10px;
    overflow: hidden; /* This is to make the border-radius apply to the controls as well */
}


/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* Remove the height or set it to min-height */
    min-height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    flex-direction: column; /* Changed to column */
    align-items: center; /* Add this to align items vertically in the center */
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}


.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

/* FOOTER */

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p{
    text-align: center;
}

#video-player {
    margin-top: 20px;
    max-width: 80%;
}

#improvements {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

h3 {
    color: #333;
}

ul {
    list-style: none;
    padding-left: 0;
}

video {
    width: 100%;
    margin-top: 10px;
    border-radius: 10%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


